doctype html
html(lang="en")
  head
    title A badge for you
    script(src="https://backpack.openbadges.org/issuer.js")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
  body
    div(class="container")
      h1 You received this badge from #{user} 
      img(alt="Your Badge" src="https://gist.githubusercontent.com/#{user}/#{gistid}/raw/badge.png" class="img-responsive")
      button(id="backpack-add" class="btn btn-lg btn-primary") Add to your backpack
      p(class="hidden") Assertion Url
        input(id="assertion-url" value="https://gist.githubusercontent.com/#{user}/#{gistid}/raw/#{issueid}.json")
      script(type='text/javascript').
        document.querySelector('#backpack-add').onclick = function() {
          OpenBadges.issue([document.querySelector('#assertion-url').value]);
        }