doctype html
html(lang="en")
  head
    title A badge for you
    script(src="https://backpack.openbadges.org/issuer.js")
  body
    h1 Your badge!
    img(alt="Your Badge" src="https://gist.githubusercontent.com/#{user}/#{gistid}/raw/badge.png")
    p Assertion Url
      input(id="assertion-url" value="https://gist.githubusercontent.com/#{user}/#{gistid}/raw/#{issueid}.json")
    script(type='text/javascript').
      OpenBadges.issue([document.querySelector('#assertion-url').value]);